Source: apt-transport-s3
Section: admin
Priority: optional
Maintainer: Guilhem Lettron <guilhem@lettron.fr>
Build-Depends: debhelper (>= 9.0.0), libapt-pkg-dev (>= 0.7.23), libcurl4-openssl-dev
Standards-Version: 3.9.5
Homepage: https://github.com/kyleshank/apt-s3

Package: apt-transport-s3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: an APT transport for communicating with Amazon S3
 This package contains the APT amazon s3 transport. It makes it possible to
 use
 'deb s3://AWS_ACCESS_ID:[AWS_SECRET_KEY]@s3.amazonaws.com/BUCKETNAME prod main'
 type lines in your sources.list file.
